body, html {
    margin: 0;
    background: #888;
    height: 100%;
    min-height: 100%;
}

.grid {
    width: 400px;
    height: 400px;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: -200px;
    position: absolute;
}

.cell {
    background: green;
    border: 1px solid orange;
    box-sizing: border-box;
    float: left;
    width: 50px;
    height: 50px;
    position: relative;
}

.grid > .cell:first-child {
    background: lightgreen;
}

.cell > div {
    position: absolute;
    top: 0;
    left: 0;
}

.player {
    width: 100%;
    height: 100%;
    background: purple;
}

.item {
    height: 100%;
    width: 100%;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
}
.item.keys:before {
    content: '🔑';
}
.item.flashlight:before {
    content: '🔦';
}
.item.data:before {
    content: '💾';
}

.inventory {
    height: 50px;
    width: 200px;
    position: fixed;
    border: 2px solid #AAA;
    bottom: 0;
    left: 50%;
    margin-left: -100px;
    background: repeating-linear-gradient(
        90deg,
        #AAA,
        #AAA 2px,
        #444 2px,
        #444 50px
    );
    background-position: -1px 0px;
}

.inventory > .item {
    height: 50px;
    width: 50px;
    float: left;
}